<%= stylesheet_link_tag "application", :media => "all" %>


<div style="background-color:#CCFF99;background-repeat:no-repeat;background-position:center; packground-size:25%, auto; margin-left:2%;
        margin-right:2%;height: auto;font-size: 18px;font-family:Microsoft JhengHei;" >
  <h1 style="color:#003377;padding-left:5%;padding-top:4%">環保常識</h1>
  <img src='11.png' width="28%"  style="padding:1% 8%;float:left;height:auto;">

  <div style="padding:1% 8%">
    <h1>資源垃圾</h1>
      民眾可將各類資源垃圾裝成一袋，交由本局清潔隊之資源回收車回收，另外下列特定項目則需分別回收。

    <ul class="circle">
      <li>乾電池自物品取出集中後回收，應單獨一包交付資源回收車或販賣業者管道逆向回收。</li>
      <li>照明光源回收前應用袋子妥善打包，並單獨交付資源回收車或販賣業者管道逆向回收。</li>
      <li>塑膠袋回收前請先去除內容物，鋪平或打結收集成一袋回收。</li>
      <li>包裝用保麗龍去除膠帶、木材、鐵釘及非保麗龍材質之包裝材，交由資源回收車回收。</li>
      <li>舊衣服回收前先清洗乾淨勿弄溼，並另外打包後交由資源回收車回收。</li><br><br><br>
    </ul>
  </div>

  <div style="width:30%;padding:5vh 8%;display:inline-block;height:auto;">
    <img src="13.png" style="width:100%">
    <h1 style="width:30%;">廚餘</h1>
      一般家庭於飲食過程所產生之有機廢棄物，如水果皮、菜葉、過 期之食物、茶葉渣、咖啡渣等等，皆可稱之為廚餘。目前廚餘再利用方式主要為養豬及堆肥，所以廚餘之分類也以這兩種再利用方式為依據。
  </div>

  <div style="width:30%;margin-top:-5vh ;padding: 0% 11.8%;display:inline-block;">
    <img src="14.png" style="width:100%;">
    <h1 >一般垃圾</h1>
    非上述可回收「資源垃圾」及「廚餘」之一般廢棄物均屬一般垃圾(例如紙尿布、衛生紙、地毯、抹布等)。<br><br>
  </div>

</div>